<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <style>
        body {
            position: relative;
            min-height: 100vh;
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Sınava Hoşgeldiniz!</h1>
    <a href="{{ url_for('register') }}"><button>Sınava Kayıt Ol</button></a>
    <a href="{{ url_for('results') }}"><button>Sonuçları Göster</button></a>

    <!-- Footer with information about the author -->
    <footer>
        Here information about author
    </footer>
</body>
</html>