<!DOCTYPE html>
<html>

<head>
    <title>Sınav</title>
</head>

<body>
    <h1>Sınav Soruları</h1>
    <p>Merhaba, {{ session.name }} {{ session.surname }}!</p>
    <form method="POST" action="{{ url_for('questions') }}">
        <ol>
            <li>
                <h3>Soru 1</h3>
                <p>Aşağıdakiler hangisi yaygın bir görüntü işleme görevi DEĞİLDİR?</p>
                <input type="radio" name="q1" value="a" required> a) Görüntü biçimlendirme<br>
                <input type="radio" name="q1" value="b" required> b) Görüntü yeniden boyutlandırma<br>
                <input type="radio" name="q1" value="c" required> c) Görüntü çevirme<br>
                <input type="radio" name="q1" value="d" required> d) Görüntü filtreleme<br>
            </li>
            <li>
                <h3>Soru 2</h3>
                <p>Dijital görüntüler bağlamında "RGB" kısaltması neyi ifade eder?</p>
                <input type="radio" name="q2" value="a" required> a) Rastgele Oluşturulan Bitmap<br>
                <input type="radio" name="q2" value="b" required> b) Gerçekçi Grafik Tamponu<br>
                <input type="radio" name="q2" value="c" required> c) Kırmızı, Yeşil, Mavi<br>
                <input type="radio" name="q2" value="d" required> d) Hızlı Derece Karıştırma<br>
            </li>
            <li>
                <h3>Soru 3</h3>
                <p>Bir görüntüde kenarları ve ince detayları geliştirmek için hangi görüntü işleme tekniği kullanılır?</p>
                <input type="radio" name="q3" value="a" required> a) Görüntü bulanıklığı<br>
                <input type="radio" name="q3" value="b" required> b) Görüntü keskinleştirme<br>
                <input type="radio" name="q3" value="c" required> c) Görüntü döndürme<br>
                <input type="radio" name="q3" value="d" required> d) Görüntü ters çevirme<br>
            </li>
            <li>
                <h3>Soru 4</h3>
                <p>Görüntü işlemede eşikleme ne amaçla kullanılır?</p>
                <input type="radio" name="q4" value="a" required> a) Görüntü kontrastını ayarlama<br>
                <input type="radio" name="q4" value="b" required> b) Bir görüntüden nesneleri algılama ve çıkarma<br>
                <input type="radio" name="q4" value="c" required> c) Bir görüntünün renk dengesini değiştirme<br>
                <input type="radio" name="q4" value="d" required> d) Görüntü çözünürlüğünü azaltma<br>
            </li>
            <li>
                <h3>Soru 5</h3>
                <p>Hangi görüntü dosyası formatı şeffaflığı destekler ve genellikle düzensiz şekle sahip görüntüler için kullanılır?</p>
                <input type="radio" name="q5" value="a" required> a) JPEG<br>
                <input type="radio" name="q5" value="b" required> b) BMP<br>
                <input type="radio" name="q5" value="c" required> c) PNG<br>
                <input type="radio" name="q5" value="d" required> d) GIF<br>
            </li>
            <li>
                <h3>Soru 6</h3>
                <p>Bir görüntünün örnekleme çözünürlüğünü azaltmanın temel amacı nedir?</p>
                <input type="radio" name="q6" value="a" required> a) Depolama için görüntü boyutunu küçültme<br>
                <input type="radio" name="q6" value="b" required> b) Görüntü çözünürlüğünü artırma<br>
                <input type="radio" name="q6" value="c" required> c) Görüntüye gürültü ekleme<br>
                <input type="radio" name="q6" value="d" required> d) Görüntü formatını değiştirme<br>
            </li>
            <li>
                <h3>Soru 7</h3>
                <p>Hangi görüntü işleme tekniği, renkli bir görüntüyü gri tonlara dönüştürmeyi içerir?</p>
                <input type="radio" name="q7" value="a" required> a) Renklendirme<br>
                <input type="radio" name="q7" value="b" required> b) Titreşimli görüntü oluşturma<br>
                <input type="radio" name="q7" value="c" required> c) Renk eşleme<br>
                <input type="radio" name="q7" value="d" required> d) Gri ton dönüşümü<br>
            </li>
            <li>
                <h3>Soru 8</h3>
                <p>Aşağıdakilerden hangisi görüntü işlemede bir morfolojik işlemin bir örneğidir?</p>
                <input type="radio" name="q8" value="a" required> a) Görüntü döndürme<br>
                <input type="radio" name="q8" value="b" required> b) Görüntü bulanıklığı<br>
                <input type="radio" name="q8" value="c" required> c) Erozyon<br>
                <input type="radio" name="q8" value="d" required> d) Histogram eşitleme<br>
            </li>
        </ol>
        <input type="submit" value="Gönder">
    </form>

    <footer>
        <small>Süha Tanrıverdi</small>
    </footer>
</body>

</html>